.body {
  background-color: #282d35;
  color: #ffffff;
  width: 550px;
  height: 459px;
  padding-left: 15px;
  padding-top: 30px;
  background-image: url(./React_logo_logotype_emblem.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  /* background-attachment: fixed; */
}
.body_ul {
  height: 180px;
  max-width: 400px;
}
.body_ul li {
  padding-block: 10px;
}
.body_ul li::marker {
  color: #61dafb;
  font-size: x-large;
}
